@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "sass:color";

.btn {
  @include flex-center;
  padding: $spacing-sm $spacing-md;
  border-radius: $radius;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none !important;
  line-height: $line-height-base;
  @include transition(background-color 0.2s);

  &.small {
    padding: 0.375rem 0.75rem;
  }

  i {
    margin-right: 10px;
  }
}

.btn-primary {
  background-color: $color-primary;
  color: white;

  &:hover,
  &:focus {
    background-color: color.adjust($color-primary, $lightness: -10%);
    color: white;
  }
}

.btn-secondary {
  background-color: $color-secondary;
  color: white;

  &:hover,
  &:focus {
    background-color: color.adjust($color-secondary, $lightness: -10%);
    color: white;
  }
}

.btn-outline {
  background-color: #fff;
  color: $color-primary;
  border: 2px solid $color-primary;

  &:hover,
  &:focus {
    background-color: $color-light-blue;
    color: $color-primary;
  }
}
