@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/typography" as *;

.supplements-filter-form {
  @include flex-column;
  gap: $spacing-lg;

  .filter-group {
    @include flex-column;
    gap: $spacing-sm;
  }

  .filter-label {
    @include heading-style(6);
    color: $color-secondary;
  }

  .filter-range {
    width: 100%;
  }

  .filter-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .reset-link {
    @include heading-style(6);
    color: $color-secondary;
    &:hover {
      color: $color-primary;
    }
  }
}
