@use "../base/variables" as *;

.pagination {
  margin-top: $spacing-lg;

  .nav-links {
    display: flex;
    justify-content: center;
    gap: $spacing-sm;
  }

  .page-numbers {
    font-size: 1rem;
    border: 1px solid $color-border;
    padding: 4px 15px;
    background: white;
    border-radius: $radius;
    cursor: pointer;

    &:hover {
      background-color: $color-light-blue;
    }

    &.current {
      background-color: $color-secondary;
      color: white;
      cursor: default;
    }
  }
}
