.top-supplements-shortcode {
  .supplement-grid {
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .supplement-card {
      .h4 {
        font-size: 1.25rem;
      }

      .card-link {
        text-decoration: none;
      }
    }
  }
}
