@use "../base/variables" as *;
.similar-supplements-shortcode {
  margin: 2rem 0;
  .similar-supplements-grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  .similar-supplement-item {
    position: relative;
  }

  .similarity-score {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-primary;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
