@use "variables" as *;
@use "../components/buttons" as *;

//Bootstrap icons
i.bi::before {
  line-height: inherit;
}

// Astra resets
body.ast-separate-container,
body.ast-plain-container {
  background-color: $color-light;
}
.site-content .ast-container {
  display: block;
}

.ast-article-single img {
  box-shadow: none;
}
p {
  margin-bottom: 1rem;
}

table {
  margin: 0;
}

button {
  box-shadow: none;
  padding: $spacing-sm $spacing-md;
  border-radius: $radius;
  font-size: 1rem;
  font-weight: 600;
}

// astra header
.main-header-menu .sub-menu {
  width: max-content;
}
