@use "variables" as *;

// Astra resets
body.ast-separate-container,
body.ast-plain-container {
  background-color: $color-light;
}
.site-content .ast-container {
  display: block;
}
p {
  margin-bottom: 1rem;
}

table {
  margin: 0;
}

button {
  box-shadow: none;
  padding: $spacing-sm $spacing-md;
  border-radius: $radius;
  font-size: 1rem;
  font-weight: 600;
}
