@use "../../base/variables" as *;
.image-links-group {
  & > .wp-block-columns {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    .wp-block-column {
      position: relative;
      border-radius: $radius;
      overflow: hidden;

      h3 {
        position: absolute;
        bottom: 20px;
        left: 20px;
        background-color: $color-dark;
        color: white;
        padding: 5px 10px;
        border-radius: $radius;
        pointer-events: none;
      }

      img {
        transition: all 0.2s ease;
      }

      a:hover {
        img {
          scale: (1.05);
        }
      }
    }
  }
}
