@use "../base/variables" as *;
@use "../base/typography" as *;
@use "../base/mixins" as *;

body.page-template-compare-page-template {
  //hide the compare bar on the comparison page
  #compare-bar {
    bottom: -100%;
  }

  .compare {
    padding-block: 2rem;
    // margin: 0 auto;

    &__no-items {
      text-align: center;
      padding: 4rem;
      @include heading-style(2);
    }

    &__title {
      font-size: 1.75rem;
      margin-bottom: 2rem;
    }

    &__table-wrapper {
      overflow-x: auto;
      border: 1px solid $color-border;
      border-radius: $radius;
      background: #fff;
    }

    &__table {
      width: 100%;
      border-collapse: collapse;
      table-layout: auto;
    }

    &__table th,
    &__table td {
      padding: 0.5rem;
      border: 1px solid $color-border;
      vertical-align: middle;
    }

    &__attribute-header,
    &__attribute {
      text-align: left;
      background-color: $color-light;
      font-weight: 600;
      white-space: nowrap;
      position: sticky;
      left: 0;
      z-index: 1;
    }

    &__ingredient-heading-row {
      background-color: $color-light;
      font-weight: 600;

      td {
        padding-block: 0.75rem;
      }
    }

    .sticky-left {
      position: sticky;
      left: 0;
      background-color: $color-light;
      //   z-index: 2;
    }

    &__ingredient-heading-spacer {
      background-color: $color-light;
    }

    &__product-header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
    }

    &__product-link {
      font-size: $font-size-lg;
      text-align: left;
    }

    &__remove-btn {
      font-size: $font-size-tiny;

      background: none;
      cursor: pointer;
      &:hover {
        color: $color-danger;
        text-decoration: underline;
      }
    }

    &__product-image {
      width: 100px;
      height: 100px;
      object-fit: contain;
      padding: 4px;
    }

    &__image-placeholder {
      width: 100px;
      height: 100px;
      background: #f0f0f0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #bbb;
      font-size: 0.75rem;
    }

    &__ingredient-row {
      td {
        padding-block: 0.25rem;
      }
    }

    &__ingredient-name {
    }

    &__highlight {
      background: #eaf3ea;
      color: #0c865e;
      font-weight: bold;
    }

    &__buy-btn {
      max-width: 250px;
      margin: auto;
    }

    .rating-bar {
      justify-content: flex-start;
      .bar-wrapper {
        max-width: 180px;
      }
    }
  }
}
